<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>
</head>
<body>
    <h1><span>Nombre: </span><%= nombre.nombre %></h1>
    <h2><span>Puntuación: </span><%= nombre.puntuacion %></h2>
    <hr>
    <a href="/">Volver</a>
    <a href="/editar/<%= nombre.id %>">Editar</a>
    <a href="/eliminar/<%= nombre.id %>">Eliminar</a>
</body>
</html>